---
import "../styles/style.css";
const { title = "Vicu Villanueva" } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Playfair+Display:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <!-- Evitar textos en mayúsculas. Eso se puede hacer con CSS -->
          <li><a href="/">Inicio</a></li>
          <li><a href="/sobre-mi">Sobre Mí</a></li>
          <li><a href="/videos">Mis Videos</a></li>
          <li><a href="/musica">Mi Música</a></li>
          <li><a href="/deadspace">Deadspace</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <slot />
    </main>

    <footer>
      <p>© 2025 Vicu Villanueva</p>
    </footer>
  </body>
</html>
